// Base Colours

$body-bg: #fff;
$text-color: #333;

// Link colour

$link-color: #55b3f3;
$link-color--hover: darken($link-color, 20%);

//  Typography

$font-family: 'Roboto', Helvetica, Arial, sans-serif;
// $font-family--helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size: 14px;
$font-weight: 400; // Regular
$line-height: 1.2;

// Container width

$container-padding: 15px;
$container-width: 1170px + $container-padding * 2;

// Screen sizes to be considered for breakpoints

// $screen-xs: 0;
// $screen-sm: 480px;
// $screen-md: 768px;
// $screen-lg: 992px;
// $screen-xl: 1200px;
