// Header
.page-header {
  position: relative;

  &__wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo {
    margin: 0;
    padding: 0;

    img {
      width: 97px;
      height: 123px;
    }
  }

  .main-nav {
    margin: 0;
    padding: 0;

    &__list {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
